.title h4 {
    font-weight: 100;
    font-size: larger;
}

.title {
    margin-top: 50px;
    color: black;
}

section {
    margin-top: 50px;
    color: white;
}

.white-bg {
    background-color: #f8f9fa;
    color: black;
}

.gray-bg {
    background-color: #6c757d;
}

.blue-bg {
    background-color: #0d6efd;
}

.green-bg {
    background-color: #198754;
}

.red-bg {
    background-color: #dc3545;
}

.aqua-bg {
    background-color:
        #0dcaf0;
}

.yellow-bg {
    background-color:
        #ffc107;
}

.black-bg {
    background-color: #212529;
}

.wrapping {
    display: flex;
    flex-wrap: wrap;
}